
@tailwind base;
@tailwind components;
@tailwind utilities;


.bg{
    background-image: url('./assets/earth.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}